.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    margin-left: 20px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .special_button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 70px;
    margin: 23px;
    margin-left: 21%;
  }

  .operator_button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
  }

  .number_button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 400px;
    margin: 0px;
    margin-left: 9%;
  }

  .buttons_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
  }

  .color1 {
    background-color: #6996AD;
  }
  .color2 {
    background-color: #0198E1;
  }
  .color3 {
    background-color: #003EFF;
  }

  .button_wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 7px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid black;
  }