.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .special_button {
    display: flex;
    flex-direction: row;
  }

  .operator_button {
    /* display: flex; */
  }

  .number_button {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .main_wrapper {
    display: flex;
    width: 100%;
    margin: 2% 7% 0 7%;
    align-content: center;
  }
  .wrapper {
    display: flex;
    margin-left: 7%;
  }

  
  .button {
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50px;
  }